<table>
  <tr>
    <td style="width: 60px">
      <label><%= I18n.t('Sistema.Body.Vistas.General.nombre')%></label>
    </td>
    <td style="width: 640px">
      <%= text_field 'meta_transaccion', 'nombre', :class=>'text', 
        :style=>'width: 300px', :maxlength=>'50', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>
  <tr>
    <td>
      <label><%=I18n.t('Sistema.Body.Vistas.Form.descripcion')%></label>
    </td>
    <td>
      <%= text_area 'meta_transaccion', 'descripcion', 
        :class=>'text', :style=>'width: 580px; height: 60px',
        :onKeyUp=>'textCounter(this,300)', :onkeypress=>'inputChange();' -%>
    </td>
  </tr>
</table>