<%= form_title_new %>

<%= render :partial=>'sistema/meta_transaccion/common/tabs' %>
<div class='marco-contenido2'>

  <%= error %>

  <%= form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :url => { :action => :save_new } ) -%>
  <%= render :partial => 'form' %>
  <%= form_buttons_edit %>
  <%= end_form_tag -%>
</div>