<div align="center">
    <table>
      <tr  style="width: 100%">
        <td class="separador" valign="bottom" colspan="3">
          <span style="text-align: center">
            <%= "#{I18n.t('Sistema.Body.Vistas.Form.email')}" %>
          </span>
        </td>
      </tr>    
    </table>
  <br>
  <table>

    <tr>

      <td style="text-align: center">
        <label><%= I18n.t('Sistema.Body.Vistas.Form.texto_correo') %></label>
      </td>
    </tr>
    
    <tr>
      <td>
        <%= @gestion.mensaje  -%>
      </td>

    </tr>

  </table>
</div>
