<td>
	<%= prestamo_tasa_historico.fecha_f  %>
</td>
<td style="text-align: right">
	<%= prestamo_tasa_historico.tasa_cliente_f  %>
</td>
<td style="text-align: center">
	<%= prestamo_tasa_historico.referencia  %>
</td>

