<% unless @clasificacion_select.nil? %>
  <label><%= "#{I18n.t('Sistema.Body.Vistas.General.tipo')}" "#{I18n.t('Sistema.Body.Vistas.General.de')}" "#{I18n.t('Sistema.Body.General.cooperativa')}" %></label>
<% end %>