src/gebos/public/documentos/consultoria/**/*.pdf
src/gebos/public/documentos/consultoria/**/*.txt
src/gebos/public/documentos/consultoria/**/*.xls
src/gebos/public/documentos/consultoria/**/*.doc
src/gebos/public/documentos/cobranzas/**/*.pdf
src/gebos/public/documentos/cobranzas/**/*.txt
src/gebos/public/documentos/cobranzas/**/*.xls
src/gebos/public/documentos/cobranzas/**/*.doc
src/gebos/public/documentos/finanzas/**/*.pdf
src/gebos/public/documentos/finanzas/**/*.txt
src/gebos/public/documentos/finanzas/**/*.xls
src/gebos/public/documentos/finanzas/**/*.doc
src/gebos/public/documentos/images_avaluo/**/*.pdf
src/gebos/public/documentos/images_avaluo/**/*.txt
src/gebos/public/documentos/images_avaluo/**/*.xls
src/gebos/public/documentos/images_avaluo/**/*.doc
src/gebos/public/documentos/images_avaluo/**/*.pdf
src/gebos/public/documentos/images_avaluo/**/*.png
src/gebos/public/documentos/images_avaluo/**/*.jpg
src/gebos/public/documentos/images_resguardo/**/*.pdf
src/gebos/public/documentos/images_resguardo/**/*.txt
src/gebos/public/documentos/images_resguardo/**/*.xls
src/gebos/public/documentos/images_resguardo/**/*.doc
src/gebos/public/documentos/images_resguardo/**/*.pdf
src/gebos/public/documentos/images_resguardo/**/*.png
src/gebos/public/documentos/images_resguardo/**/*.jpg
src/gebos/public/documentos/desembolso/envio_cheque/*.txt
src/gebos/public/documentos/desembolso/envio_cheque/*.pdf
src/gebos/public/documentos/desembolso/envio/*.html
src/gebos/public/documentos/desembolso/envio/*.pdf
src/gebos/public/documentos/desembolso/**/*.txt
src/gebos/public/documentos/pdf/*.pdf
src/gebos/public/documentos/xls/*.xls
src/gebos/public/dataload/*.txt
src/gebos/db/*.erd
src/gebos/db/*.ddl
.settings/
src/gebos/public/diferimiento_intereses
src/gebos/config/database.yml
src/gebos/config/deploy.rb
src/gebos/db/migracion/*.txt
src/gebos/db/migracion/*.xls
nbproject
src/gebos/app/views/**/**/**/*.txt
src/gebos/app/views/**/**/*.txt
src/gebos/app/controllers/**/*.txt
src/gebos/app/controllers/**/**/*.txt
src/gebos/app/controllers/*.txt
src/gebos/app/models/**/*.txt
src/gebos/app/models/*.txt
src/gebos/app/views/*.txt
tmp/*.*
tmp/**/*
tmp/*.txt
log/*.log
log/*.log.save
.project
*.komodoproject
nbproject/
nbproject/*.*
public/documentos/desembolso/envio/*.txt
public/contratos/*.pdf
src/gebos/public/SRAS/*.pdf
src/gebos/public/actas_entregas/*.pdf
src/gebos/public/notas_autenticacion/*.pdf
src/gebos/public/html_pdf/*.pdf
src/gebos/public/html_pdf/*.html
src/gebos/db/migracion/*.*
src/gebos/db/migracion/*.*
src/gebos/public/documentos/orden_despacho_insumo/envio/*.txt
src/gebos/public/documentos/orden_despacho_insumo/envio/*.csv
src/gebos/public/documentos/orden_despacho_insumo/envio_cheque/*.txt
src/gebos/public/contratos/*.pdf
src/gebos/log/*.log
src/gebos/config/config/
src/gebos/Gemfile.lock
src/gebos/config/initializers/arel.rb
src/gebos/tmp/


*.txt
*.sublime-project
*.sublime-workspace
