<td>
  <%= tasa_valor.fecha_resolucion_desde_f  %>
</td>
<td>
  <%= tasa_valor.fecha_resolucion_hasta_f  %>
</td>
<td>
  <%= tasa_valor.fecha_actualizacion_f  %>
</td>
<td style="text-align: right">
  <%= tasa_valor.valor_f  %>
</td>
