 
 <tr>
 <!--
   	<td>
  	 <%= link_to ('Refrescar Fechas'), 
    					{  :action=>'refrescar'} %>
  	</td>
  	-->
  	
    <td>
            <%= link_to(image_tag('imprimir.gif'), { :action => 'ejecutar', :reporte => @reporte, :mes => @mes, :ano => @ano},
  	             :popup => ["Reporte ", 'height=500,width=700'] ) %>&nbsp;
  	</td>
  	
 </tr>
