<table style="width: 100%">
  <tr>
    <td style="width: 220px">
      <label><%= I18n.t('Sistema.Body.Vistas.General.nombre') %></label><label class="requerido"> (*)</label>
    </td>
    <td style="width: 550px">
      <%= text_field 'tipo_explotacion', 'nombre', :class=>'text', :style=>'width: 500px', :maxlength=>'100'  -%>

    </td>
  </tr>

  <tr>
    <td colspan="2" style="text-align: left">
      <%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.guardar'), :title=> I18n.t('Sistema.Body.Vistas.General.guardar')) -%>

