<% cuenta_contable_auxiliar = @cuenta_contable_auxiliar if cuenta_contable_auxiliar.nil? %>
<td>
	<%= cuenta_contable_auxiliar.codigo  %>
</td>	
<td>
	<%= cuenta_contable_auxiliar.nombre  %>
</td>
<td style="text-align: right">
	<%= link_to_remote(
		image_tag(I18n.t('Sistema.Body.Imagenes.modificar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
		:url => {:action => :edit, :cuenta_contable_id => @cuenta_contable.id, :id => cuenta_contable_auxiliar.id})  if vlink 'edit' -%>&nbsp;
	<%= link_to_remote(
		image_tag(I18n.t('Sistema.Body.Imagenes.eliminar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
	  :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
		:url => {:action => :delete, :cuenta_contable_id => @cuenta_contable.id, :id => cuenta_contable_auxiliar.id})  if vlink 'delete' -%>
</td>