<% formacion = @formacion if formacion.nil? %>
  <td style="text-align: center">
    <%= formacion.nombre %>
  </td>

  <td style="text-align: center">
    <%= link_to_remote(
        image_tag(image_path(I18n.t('Sistema.Body.Imagenes.modificar'))),
        :loading =>'image_load()',
        :loaded => 'image_unload()',
        :url => {:controller => 'formacion', :action => :edit, :id => formacion.id}) if vlink 'edit' -%>&nbsp;
    <%= link_to_remote(
        image_tag(I18n.t('Sistema.Body.Imagenes.eliminar')),
        :loading =>'image_load()',
        :loaded => 'image_unload()',
        :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
        :url => {:controller => 'formacion', :action => :delete, :id => formacion.id}) if vlink 'delete' -%>
  </td>
