<table class="lista" style="width: 100%">
  <thead>
    <tr>
      <th <%= sort_class_helper('sector_tecnico.sector_id') %>>
        <%= sort_link_helper  I18n.t('Sistema.Body.Vistas.General.sector'), 'sector_tecnico.sector_id', 'list' %>
      </th>
    </tr>
  </thead>
  <tbody id="list_body">
    <%
    even_odd = 1
    for sector_tecnico in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row_view', :locals => { :sector_tecnico => sector_tecnico, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>

