<% item = @eje if item.nil? %>
<td style="text-align: center">
	<%= item.nombre %>
</td>	


<td style="text-align: center">
	<%= link_to_remote(
		image_tag(I18n.t('Sistema.Body.Imagenes.modificar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
 	  :method=>:get,
		:url => {:controller => 'eje', :action => :edit, :id => item.id}) if vlink 'edit' -%>&nbsp;
	<%= link_to_remote(
		image_tag(I18n.t('Sistema.Body.Imagenes.eliminar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
	:confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
		:url => {:controller => 'eje', :action => :delete, :id => item.id}) if vlink 'delete' -%>
</td>
