<div id="tabs">
  <ul>
    <%
    action_name = controller.action_name
    controller_name = controller.controller_name

    logger.info "Action " << action_name
    logger.info "Controlador " << controller_name.to_s

    if controller_name=='solicitud_consultoria_juridica' && action_name == 'list'
    %>
      <li id="actual"><div><a href="#"><%=I18n.t('Sistema.Body.Vistas.General.generar')%></a></div></li>
    <% 
    else 	   
    %>
      <li><div>
          <%= link_to_remote(I18n.t('Sistema.Body.Vistas.General.generar'), :loading =>'image_load()', :loaded => 'image_unload()', :url => {:action => 'list', :conditions=>@conditions, :condition=>@condition}) if (action_name == 'index' || action_name == 'list_view' || action_name == 'edit') %>
        </div></li>
    <% 
    end
    if controller_name=='solicitud_consultoria_juridica' && action_name == 'list_view'
    %>
      <li id="actual"><div><a href="#"><%=I18n.t('Sistema.Body.Vistas.General.procesar')%></a></div></li>
    <% 
    else
    %>
      <li><div>
          <%= link_to_remote(I18n.t('Sistema.Body.Vistas.General.procesar'), :loading =>'image_load()', :loaded => 'image_unload()', :url => {:action => 'list_view', :conditions=>@conditions, :condition=>@condition}) if (action_name == 'index' || action_name == 'list' || action_name == 'edit') %>
        </div></li>
    <% 
    end
  %>
  </ul>
</div>
