    <tr>
      <td> <%= I18n.t('Sistema.Body.Vistas.General.recomendadas') %>
      </td>
      <td>
        <%=@solicitud.hectareas_recomendadas_fm %> <%=I18n.t('Sistema.Body.Vistas.General.hectareas_abreviadas')%>
      </td>
    </tr>