<label><%= I18n.t('Sistema.Body.Vistas.VisitaDecision.Etiquetas.superficie_recomendada') %> </label>

<label style="color: red"><b><%=@visitas.seguimiento_cultivo.superficie_recomendada_f -%></b></label> <label> <%=I18n.t('Sistema.Body.Vistas.General.hectareas')%></label>
