<div id="errorExplanation" class="errorExplanation" style="display: block; text-align: left">
  <h2><%= I18n.t('Sistema.Body.General.ocurrio_error')%></h2><p><UL><LI><%= I18n.t('Sistema.Body.Vistas.RecomendacionPlanInversion.Etiquetas.plan_inversion_item' %></LI></UL>
</div>