<div id="tabs">
	<ul>
<%
	action_name = controller.action_name
	controller_name = controller.controller_name

	logger.info "Action " << action_name
	logger.info "Controlador " << controller_name.to_s

	if controller_name=='orden_despacho_archivos_generados' && (action_name == 'index' || action_name == 'preparar_transferencia')
%>
		<li id="actual"><div><a href="#"><%=I18n.t('Sistema.Body.Modelos.OrdenDespacho.Mensajes.archivos_generados_por_trasferencia')%></a></div></li>
<% 
	else 	   
%>
		<li><div>
		      <%= link_to(I18n.t('Sistema.Body.Modelos.OrdenDespacho.Mensajes.archivos_generados_por_trasferencia'),:controller=>'orden_despacho_archivos_generados', :action => 'preparar_transferencia') if ( action_name == 'preparar_cheque' || action_name == 'index') %>
		</div></li>
<% 
	end
	if controller_name=='orden_despacho_archivos_generados' && action_name == 'preparar_cheque'
%>
		<li id="actual"><div><a href="#"><%=I18n.t('Sistema.Body.Modelos.OrdenDespacho.Mensajes.archivos_generados_por_cheque')%></a></div></li>
<% 
	else
%>
		<li><div>
     		<%= link_to(I18n.t('Sistema.Body.Modelos.OrdenDespacho.Mensajes.archivos_generados_por_cheque'), :controller=>'orden_despacho_archivos_generados', :action => 'preparar_cheque') if (action_name == 'preparar_transferencia' ||  action_name == 'index') %>
		</div></li>
<% 
	end
%>
	</ul>
</div>
