<div id="tabs">
	<ul>
<%
	action_name = controller.action_name
	controller_name = controller.controller_name

	logger.info "Action " << action_name
	logger.info "Controlador " << controller_name.to_s

	if controller_name=='carga_masiva' && action_name == 'index'
%>
		<li id="actual"><div><a href="#">Cargar Archivo</a></div></li>
<% 
	else 	   
%>
		<li><div>
		      <%= link_to('Cargar Archivo', :controller => 'carga_masiva', :action => 'index', :popup=>params[:popup]) if (action_name == 'avanzar') %>
		</div></li>
<% 
	end
	if controller_name=='carga_masiva' && action_name == 'avanzar'
%>
		<li id="actual"><div><a href="#">Datos Cargados</a></div></li>
<% 
	else
%>
		<li><div>
     		<%= link_to('Datos Cargados', :controller => 'carga_masiva', :action => 'avanzar', :accion=>1, :popup=>params[:popup]) if (action_name == 'index') %>
		</div></li>
<% 
	end
%>
	</ul>
</div>
