<% tipo_cliente = @tipo_cliente if tipo_cliente.nil? %>
<td>
  <%= tipo_cliente.nombre  %>
</td>
<td>
  <%= tipo_cliente.descripcion %>
</td>
<td style="text-align: right">
  <%= link_to_remote(image_tag(image_path(I18n.t('Sistema.Body.Imagenes.eliminar'))),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
  :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:action => :delete, :programa_id => @programa.id, :id => tipo_cliente.id}) -%>
</td>
