 <% solicitud = @solicitud if solicitud.nil? %>
<tr class="lista<%= even_odd %>" id="row_<%= solicitud.id %>">
	<%= render :partial => 'data', :locals => { :solicitud => solicitud, :even_odd => even_odd } -%>
</tr>
<tr>
	<td colspan="18" style="margin: 0px; padding: 0px">
		<div id="diferir_<%= solicitud.id %>"></div>
	</td>
</tr>
