<div id="tabs">
	<ul>
<%
	action_name = controller.action_name
	controller_name = controller.controller_name

	logger.info "Action " << action_name
	logger.info "Controlador " << controller_name.to_s

	if controller_name=='desembolso_cheque' && action_name == 'index'
%>
		<li id="actual"><div><a href="#"><%="#{I18n.t('Sistema.Body.Vistas.General.generar')} #{I18n.t('Sistema.Body.Vistas.General.archivo')}"%></a></div></li>
<% 
	else 	   
%>
		<li><div>
		      <%= link_to("#{I18n.t('Sistema.Body.Vistas.General.generar')} #{I18n.t('Sistema.Body.Vistas.General.archivo')}",:controller=>'desembolso_cheque',  :action => 'index') if ( action_name == 'preparar_cheque') %>
		</div></li>
<% 
	end
	if controller_name=='desembolso_cheque' && action_name == 'preparar_cheque'
%>
		<li id="actual"><div><a href="#"><%="#{I18n.t('Sistema.Body.Vistas.General.archivos')} #{I18n.t('Sistema.Body.Vistas.General.procesados')}"%></a></div></li>
<% 
	else
%>
		<li><div>
     		<%= link_to("#{I18n.t('Sistema.Body.Vistas.General.archivos')} #{I18n.t('Sistema.Body.Vistas.General.procesados')}", :controller=>'desembolso_cheque', :accion=>1, :action => 'preparar_cheque') if (action_name == 'index' ) %>
		</div></li>
        <% 
	end
%>
	</ul>
</div>
