

  <%= text_field_tag 'monto_pago', @monto_pago,
      {:class=>'text', :maxlength=>'16', :style=>"width: 110px; text-align: center;",
      :onkeyup=>"formatCurrency(this.value, 'monto_pago');",
      :onkeypress=>'inputChange();',
      :onchange=>'inputChange();'} -%>&nbsp;&nbsp;&nbsp;
  <span id="monto_pago_moneda"><%= I18n.t('Sistema.Body.General.ab_bolivares')%></span>&nbsp;&nbsp;&nbsp;

  <%= display_number @monto_pago, 'monto_pago' %>

