<% departamento = @departamento if departamento.nil? %>
<td>
  <%= departamento.nombre  %>
</td>	
<td>
  <%= departamento.descripcion  %>
</td>	
<td style="text-align: right">
  <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.modificar'), :title=>I18n.t('Sistema.Body.Vistas.General.modificar')),
    :method => :get,
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :url => {:controller => 'departamento', :action => :edit, :id => departamento.id})  if vlink 'edit' -%>&nbsp;
  <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.eliminar'), :title=>I18n.t('Sistema.Body.Controladores.Accion.eliminar')),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:controller => 'departamento', :action => :delete, :id => departamento.id})  if vlink 'delete' -%>
</td>