<div id="tabs">
	<ul>
<%
	action_name = controller.action_name
	controller_name = controller.controller_name

	logger.info "Action " << action_name
	logger.info "Controlador " << controller_name.to_s

	if controller_name=='liquidacion' && action_name == 'list'
%>
		<li id="actual"><div><a href="#"><%="#{I18n.t('Sistema.Body.Vistas.General.generar')} #{I18n.t('Sistema.Body.Vistas.General.archivo')}"%></a></div></li>
<% 
	else 	   
%>
		<li><div>
		      <%= link_to_remote("#{I18n.t('Sistema.Body.Vistas.General.generar')} #{I18n.t('Sistema.Body.Vistas.General.archivo')}", :url => {:action => 'list', :conditions=>@conditions}) if (action_name == 'index' || action_name == 'list_view' || action_name == 'edit') %>
		</div></li>
<% 
	end
	if controller_name=='liquidacion' && action_name == 'list_view'
%>
		<li id="actual"><div><a href="#"><%="#{I18n.t('Sistema.Body.Vistas.General.archivos')} #{I18n.t('Sistema.Body.Vistas.General.procesados')}"%></a></div></li>
<% 
	else
%>
		<li><div>
     		<%= link_to_remote("#{I18n.t('Sistema.Body.Vistas.General.archivos')} #{I18n.t('Sistema.Body.Vistas.General.procesados')}", :url => {:action => 'list_view', :conditions=>@conditions}) if (action_name == 'index' || action_name == 'list' || action_name == 'edit') %>
		</div></li>
<% 
	end
%>
	</ul>
</div>
