<%
@action_name = controller.action_name
@controller_name = controller.controller_name
%>
<script language="javascript">
  function mostrar_banco(){
      var porcentaje_1 = document.getElementById('regla_contable_modalidad_pago').value;
      var div = document.getElementById('banco');

      if (porcentaje_1 != 'N' && porcentaje_1 != 'D' && porcentaje_1 != 'E' && porcentaje_1 != 'O' && porcentaje_1 != 'A')
          div.style.display = 'block';
      else
          div.style.display = 'none';
  }
</script>
<%= content_for :list do %>
  <div id="list">
  <%= render 'list' -%>
  </div>
<%end%>
