<% view_generacion_tabla = @view_generacion_tabla if view_generacion_tabla.nil? %>
<tr class="lista<%= even_odd %>" id="row_<%= view_generacion_tabla.prestamo_id %>">
  <%= render :partial => 'data', :locals => { :view_generacion_tabla => view_generacion_tabla, :even_odd => even_odd } -%>
</tr>
<tr>
  <td colspan="14" style="margin: 0px; padding: 0px">
    <div id="diferir_<%= view_generacion_tabla.prestamo_id %>"></div>
  </td>
</tr>