<table> 	
   <tr>
   	<td style="width: 250px">
   		<label>% Empresa</label>
   	</td>
   	<td style="width: 450px">
   		<%= text_field 'solicitud', 'porcentaje_empresa_f', :class=>'text', :style=>'width: 60px', :maxlength=>'5'  -%>
   	</td>
   </tr>
   <tr>
   	<td>
   		<label>% Cooperativa</label>
   	</td>
   	<td>
   		<%= text_field 'solicitud', 'porcentaje_cooperativa_f', :class=>'text', :style=>'width: 60px', :maxlength=>'5'  -%>
   	</td>
   </tr>    
</table>    