<table> 	
   <tr>
   	<td style="width: 250px">
   		<label>% Empresa</label>
   	</td>
   	<td style="width: 450px">
   		<%= @solicitud.porcentaje_empresa_fm -%>
   	</td>
   </tr>
   <tr>
   	<td>
   		<label>% Cooperativa</label>
   	</td>
   	<td>
   		<%= @solicitud.porcentaje_cooperativa_fm -%>
   	</td>
   </tr>    
</table>    