<tr>
	<td valign="top">
		<label>Descripción</label>
	</td>
	<td>
		<%= text_area 'solicitud', 'descripcion_propuesta_social_comunidad', 
			:class=>'text', 
			:style=>'width: 400px; height: 60px',
			:onkeypress=>'inputChange();',
			:onKeyUp=>'textCounter(this,1000)' -%>
	</td>
</tr>
<tr>
	<td>
		<label>Fecha Revisión</label>
	</td>
	<td>
		<%= text_field 'solicitud', 'fecha_propuesta_social_comunidad_f', 
			:class=>'text', :style=>'width: 80px', 
			:maxlength=>'10', :onkeypress=>'inputChange();', :onchange=>'inputChange();'  -%>
		<%= calendar 'solicitud_fecha_propuesta_social_comunidad_f', 'calendar_fecha_propuesta_social_comunidad' %> (dd/mm/aaaa)	
	</td>
</tr>