<table style="width: 100%">
  <tr>
    <td style="width: 40%">
      <label><%= I18n.t('Sistema.Body.Modelos.Producto.Columnas.meses_gracia') %></label>
    </td>
    <td style="width: 60%">
      <%= @producto.meses_gracia -%>
    </td>
  </tr>
</table>


