<table style="width: 100%">
  <tr>
    <td style="width: 30%">
      <label>
        <%= I18n.t('Sistema.Body.Modelos.Producto.Columnas.meses_muertos') %>
      </label>
    </td>
    <td style="width: 70%">
      <%= @producto.meses_muertos -%>
    </td>
  </tr>
</table>


