<% programa_tipo_garantia = @programa_tipo_garantia if programa_tipo_garantia.nil? %>
<td>
  <%= programa_tipo_garantia.tipo_garantia.nombre  %>
</td>

<td style="text-align: right">
  <%= link_to_remote(image_tag(image_path(I18n.t('Sistema.Body.Imagenes.modificar'))),
      :loading =>'image_load()',:loaded => 'image_unload()',
      :url => {:action => :edit, :programa_id => @programa.id, :id => programa_tipo_garantia.id}) -%>
  <%= link_to_remote(image_tag(image_path(I18n.t('Sistema.Body.Imagenes.eliminar'))),
    :loading =>'image_load()', :loaded => 'image_unload()',
    :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:action => :delete,  :programa_id => @programa.id, :id => programa_tipo_garantia.id}) -%>
</td>
