<% view_excedente_arrime = @ViewExcedenteArrime if view_excedente_arrime.nil? %>
<tr class="lista<%= even_odd %>" id="row_<%= view_excedente_arrime.orden_abono_excedente_arrime_id %>">
	<%= render :partial => 'data', :locals => { :view_excedente_arrime => view_excedente_arrime, :even_odd => even_odd } -%>
</tr>
<tr>
	<td colspan="14" style="margin: 0px; padding: 0px">
		<div id="diferir_<%= view_excedente_arrime.prestamo_id %>"></div>
	</td>
</tr>