div.watermark .text {  
    position: absolute; z-index:1;  
    cursor: default;  
    font: bold 22px Verdana, Arial, Sans-serif;  
    color: White;  
    margin: 4px;  
    line-height: 20px;  
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);  
    opacity: .5;  
    -moz-opacity: .5;
}  


#marca_agua {
  display: visible;
  font-size: 14px;
  background-image: url(/assets/marca_agua.jpg); 
}


