
	<table class="lista" style="width: 100%">
		<thead>
		<tr>
 			<th style="width: 50px"><%= sort_class_helper('nombre') %>
 			<%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.parroquias'), 'nombre', 'list' %>
 			</th>
		</tr>
		</thead>
		<tbody id="list_body">
<%
	even_odd = 1
	for parroquias in @list
		even_odd = 1 - even_odd %>
	<%= render :partial => 'row_view', :locals => { :parroquias => parroquias , :even_odd => even_odd } -%>
<% end %>
</tbody>
</table>

<%= form_pagination %>

