
<div class="marco-contenido">

	<div class="marco-titulo"><div><div>
		Edad de la Mora
	</div></div></div>
    <div class="marco-contenido2">
    
        <%= error %>
	    <%= message %>

      <%= render :partial => 'form' %>

	</div>
</div>