<% modalidad_financiamiento = @modalidad_financiamiento if modalidad_financiamiento.nil? %>
<td>
  <%= modalidad_financiamiento.nombre  %>
</td>
<td>
  <%= modalidad_financiamiento.descripcion %>
</td>
<td style="text-align: right">
  <%= link_to_remote(
    image_tag(image_path(image_path(I18n.t('Sistema.Body.Imagenes.eliminar')))),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
  :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:action => :delete, :programa_id => @programa.id, :id => modalidad_financiamiento.id}) -%>
</td>
